.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
}

.access-info {
    padding-top: 10px;
    letter-spacing: .2rem;
    margin-bottom: -0.1rem;
    font-size: 1.4rem;
}


.social-media-icons a {
    color: white;
    margin: 0.7rem;
    font-size: 3rem;
    display: inline-block;
}
  
.body-img {
    width: 100%;
    transform: scale(.95);
    border-radius: 60%;
    border: 1vh solid #cbd5e1;
  }